# directories
/elpaca
/auto-save-list
/eln-cache
/url/cache

# files
config.el
# ignore tmp files
*.*~
*.*#
recentf

eshell/history
eshell/lastdir
eshell/alias~
*.desktop*
transient/history.el
/history
/places
/.org-id-locations
bookmarks
