[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	name = Hyeon Dobin
	email = 77524773+hyeondobin@users.noreply.github.com
